.backdrop{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 40;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: xx-large;
    font-weight: 500;
}

.button{
    border: 2px solid green;
    background-color: transparent;
    color: green;
    font-size:large;
    padding: 2%;

}